<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/s
http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    "
    
    >
    
<!--     <bean id="bikeBreak" class = "com.au.model.BikeBreak"></bean>
 -->    
     <bean id="discbikeBreak" class = "com.au.model.DiscBikeBreak"></bean>
 
 <bean id="bike" class = "com.au.model.Bike" autowire="byType">
 
<!--   <bean id="bike" class = "com.au.model.Bike" > -->
 
<!--     <constructor-arg index="0" ref="discbikeBreak"></constructor-arg>
 -->  
<!--  		<property name="bikeBreak" ref="discbikeBreak"></property> 
 -->
  		
 
   </bean>
    
    </beans>